
body {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    height: 100vh;
}


#todo_container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff38;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color: #333333;
}


.row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#input_box {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
}

#btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c6aaf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
ul li::before{
    content:'';
    background: url("..//images/1.png");
    width: 20px;
    height: 20px;
    postion:absolute;
    top: 120px;
    left:12px;
    background-position:center ;
    background-size: cover;

}

ul.li.checked{
 background-color:rgb(6,53,107);
 border-radius: 50px;
 color: white;
}
ul.li.checked::before{

    content: '';
    background:url("../images/2.png");
    width:20px;
    height:30px;
    position: absolute;
    top: 120px;
    left: 12px;
    background-position: center;
    background-size: cover;

}
 span{

    position: relative;
    display: 100px;
}
#btn:hover {
    background-color: #4645a0;
}


#taskcontainer {
    list-style: none;
    padding: 0;
}


li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    background-color: #f2f2f2;
    border-radius: 5px;
}


.delete-btn {
    background-color: #7a33ff;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
