*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, green, #6943b5);
}

.calculator{
    border: 1px solid #7175777b;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px blue(119, 113, 115);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff84;
}

input::placeholder{
    color: #ffffff4f;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff71;
    font-size: 20px;
    box-shadow: -8px -8px 15px yellow(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color:rgba(128, 128, 128, 0.838);
}

.operator{
    color: #e3ee0ad0;
}