*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: #70c3e70a;
    text-align: center;
    height: 15vh;
}
h1{
    align-items: center;
    margin: auto;
}
    
main{
height: 150vh;
background-color: rgb(211, 238, 240);
}
.left, .right{
border: 1px solid black;
height: 120vh;

}
.left{
width: 20%;
border-radius: 10px;
position: relative;
display: inline-block;
padding-left: 30px;
padding-top: 20px;


}
.right{
float: right;
width: 80%;
border-radius: 10px;
}


.footer{
    background-color: antiquewhite;
    position: initial;
    width: 100%;
    height: 5vh;
    text-align: center;
}



.navbar {
    width: 100%;
    background-color: #555555;
    overflow: auto;
}
  
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
  .navbar a:hover {
    background-color: #000;
}
  .active {
    background-color: #04aa9f13;
}
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
nav{
  background-color: #5245c416;
}
nav h1{
  text-align: center;
}
button{
  width: 50px;
  border-radius: 20px;
}