h1{
    background-color: blue;
    color: aliceblue;
    
   
}
p{
    width: 500px;
    background-color: antiquewhite;
    height: 200px;
    line-height: 2.5em;
    overflow: hidden;
    overflow: scroll;
}.container_2{
    background-color: aquamarine;
    padding: 10px;
    
}
.image{
    width:100px;
    height: 100px;
    display: inline;
    padding: 20px;
    margin: 10px;
    

}

.one{
    border: 10px solid saddlebrown;
    border-radius: 50%;
    padding: 0px;
}
.unorder_list li{
    list-style-type: none;
    padding: 10px;
    float: right;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.unorder_list li:hover{
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.order_list li{
    list-style-type: lower-roman;
}
.container-3{
    background-color: yellowgreen;
    height: 100px;
    padding: 20px;

}
.btn{
    padding: 5px 10px;
    color: tomato;   
    cursor:pointer;
}
#btn_login{
    background-color: aquamarine;
    
}
#btn_signup{
    background-color: yellow;
}
#btn_disable{
    background-color: white;
    color: black;
    cursor: not-allowed;
}

#btn_login:hover{
    border-radius: 20px;
    background-color:blanchedalmond
}
#btn_signup:hover{
    border-radius: 20px;
}