h1{
    background-color: blue;
    color: aliceblue;
    
   
}
p{
    width: 500px;
    background-color: antiquewhite;
    height: 200px;
    line-height: 2.5em;
    overflow: hidden;
    overflow: scroll;
}.container_2{
    background-color: aquamarine;
    padding: 10px;
    
}
.image{
    width: 500px;
    height: 400px;
    display: block;
    padding: 20px;
    margin: 10px;
    

}

.one{
    border: 10px solid saddlebrown;
    border-radius: 50%;
    padding: 0px;
}